.bg-quiz-user{
    background: rgb(173,0,255);
    background: linear-gradient(135deg, rgba(173,0,255,0.35) 0%, rgba(97,194,200,0.35) 100%), url('../../image/drakonEgorLGBT.png');
    min-height: calc(100vh - 80px);   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.list-group-item.active{
    background: rgb(107,160,244);
    background: linear-gradient(135deg, rgba(107,160,244,1) 0%, rgba(218,81,234,1) 100%);
    border: 0;
}

.list-group-item{
    border: 0;
}

.content-test {
    display: grid;
    grid-template-columns: 2fr 2fr;
}