.bg-quiz-user{
    background: rgb(221,144,230);
    background: linear-gradient(135deg, rgba(221,144,230,0.25) 0%, rgba(144,177,230,0.25) 100%), url('../../image/drakonEgorLGBT.png');
    min-height: calc(100vh - 80px);   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.list-group-item.active{
    background: rgb(107,160,244);
    background: linear-gradient(135deg, rgba(107,160,244,1) 0%, rgba(218,81,234,1) 100%);
    border: 0;
}

.list-group-item{
    border: 0;
}
