.bg-content-block-1{
    height: calc(100vh - 80px);
    background-color: #BFD0EC;
    width: 100vw;
    overflow-y: hidden;
    box-sizing: border-box;
    position: relative;
      left: 50%;
      right: 50%;
    margin-left: -50vw;  
    margin-right: -50vw; 
}

.content-block-1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.text-content-block-1{
    z-index: 100;
}

.text-content-block-1 p{
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 5vw;
    font-weight: bold;
    
}

.text-content-block-1 a{
    text-decoration: none;
    color: #DD90E6;
}

.h2-text-content-block-1{
    margin-top: 10vh;
    color: white;
    font-size: 96px;
    font-weight: bold;
    font-size: 96px;
}
.DQtext{
    color: #DD90E6; 
}


.image-dragon-content-block-1{
    width: 530px;
    height: 850px;  
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
}


