.bg-quiz-list{
    background: rgb(191,208,236);
    background: url('../../image/drakonEgorLGBT.png'), linear-gradient(135deg, rgba(191,208,236,1) 0%, rgba(255,237,250,1) 100%);
    min-height: calc(100vh - 80px);   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

 