.bg-content-user-settings {
    background: linear-gradient(135deg, rgba(221,144,230,0.2) 10%, rgba(144,177,230,0.2) 100%), url('../../image/whitepurpleDragon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    min-height: calc(100vh - 80px);
}
.form-setting {
    float: right;
    height: 675px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
.box-settings-content {
    width: 80%;
    color: #79A8F4;
    font-weight: bold;
}
.box-settings-content h1 {
    font-size: calc(16px + 8 * (100vw / 1920));
    font-weight: bold;
    color: #79A8F4;
}
.box-settings-content h2 {
    font-size: calc(12px + 8 * (100vw / 1920));
    font-weight: bold;
    color: #79A8F4;
}
.box-settings-content h3 {
    font-size: calc(6px + 8 * (100vw / 1920));
    font-weight: bold;
    color: #79A8F4;
}
.box-settings-content input {
    display: block;
    background: #fff;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: #79A8F4;
    border: none;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
    text-align: center;
    margin-top: 50px;
    outline: none;
    caret-color: #DD90E6;
}


.button {
    border: none;
    background-color: #79A8F4;
    height: 32px;
    width: 200px;
    border-radius: 5px;
    z-index: 50;
    color: #fff;
    font-weight: bold;
}

.button{
    background: rgb(107,160,244);
    background: linear-gradient(135deg, rgba(107,160,244,1) 0%, rgba(218,81,234,1) 100%);
}
.button-user-settings button:active {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5) inset;
}



.account-deletion-block button {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    margin-top: 20px;
    border: none;
    background: rgb(226,140,140);
    background: linear-gradient(135deg, rgba(226,140,140,0.5) 0%, rgba(226,140,140,1) 100%);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
